<section class="sidebar">
  <ul>
    <li>Първи стъпки
      <ul>
        <li><a href="/#">Създаване</a></li>
        <li><a href="/#">Побликуване</a></li>
        <li><a href="/#">Управление</a></li>
      </ul>
    </li>
    <li>Конфигуриране
      <ul>
        <li><a href="/#">Файлова система</a></li>
        <li><a href="/#">ENV променливи</a></li>
        <li><a href="/#">Markers</a></li>
        <li><a href="/#">Action Hooks</a></li>
        <li><a href="/#">Cron Jobs</a></li>
      </ul>
    </li>
    <li>Бази Данни
      <ul>
        <li><a href="/#">MySQL</a></li>
        <li><a href="/#">PostgreSQL</a></li>
        <li><a href="/#">MongoDB</a></li>
      </ul>
    </li>
    <li>Addons
      <ul>
        <li><a href="/#">phpMyAdmin</a></li>
        <li><a href="/#">Jenkis</a></li>
        <li><a href="/#">Cron Jobs</a></li>
      </ul>
    </li>
    <li>Frameworks
      <ul>
        <li><a href="/#">Codeigniter</a></li>
        <li><a href="/#">Laravel</a></li>
        <li><a href="/#">Symphony</a></li>
      </ul>
    </li>
    <li>Други
      <ul>
        <li><a href="/#">Проект от съществуващ код</a></li>
        <li><a href="/#">PostgreSQL</a></li>
        <li><a href="/#">MongoDB</a></li>
      </ul>
    </li>
  </ul>
</section>
