<section class="sidebar">
  <ul>
    <li>Първи стъпки
      <ul>
        <li><a href="/php/create">Създаване</a></li>
        <li><a href="/php/">Побликуване</a></li>
        <li><a href="/php/">Управление</a></li>
      </ul>
    </li>
    <li>Конфигуриране
      <ul>
        <li><a href="/php/">Файлова система</a></li>
        <li><a href="/php/">ENV променливи</a></li>
        <li><a href="/php/">Markers</a></li>
        <li><a href="/php/">Action Hooks</a></li>
        <li><a href="/php/">Cron Jobs</a></li>
      </ul>
    </li>
    <li>Бази Данни
      <ul>
        <li><a href="/php/">MySQL</a></li>
        <li><a href="/php/">PostgreSQL</a></li>
        <li><a href="/php/">MongoDB</a></li>
      </ul>
    </li>
    <li>Addons
      <ul>
        <li><a href="/php/">phpMyAdmin</a></li>
        <li><a href="/php/">Jenkis</a></li>
        <li><a href="/php/">Cron Jobs</a></li>
      </ul>
    </li>
    <li>Frameworks
      <ul>
        <li><a href="/php/">Codeigniter</a></li>
        <li><a href="/php/">Laravel</a></li>
        <li><a href="/php/">Symphony</a></li>
      </ul>
    </li>
    <li>Други
      <ul>
        <li><a href="/php/">Проект от съществуващ код</a></li>
        <li><a href="/php/">PostgreSQL</a></li>
        <li><a href="/php/">MongoDB</a></li>
      </ul>
    </li>
  </ul>
</section>
