.page {
  h4 {
    font-weight: 400;
    margin: 30px 0 10px;
  }
}

.page, .post {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 279px;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: #f0f2f1;
  }
}

article {
  padding: 22px 30px 50px 50px;
  margin-left: 280px;
}

article ul {
  font-size: 16px;
}

article .content-list ul li {
  margin: 8px;
  line-height: 1.65;
}

article h1 + ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 50px;
  border-bottom: 1px solid #f0f2f1;
}
article h1 + ul li:before {
  content: "# ";
  margin-right: .25em;
  color: #ff6860;
  opacity: .3;
}
article h1 + ul li a {
  text-decoration: none;
}
article li > ul {
  font-size: 15px;
  font-weight: 400;
  list-style: none;
}
article h2 {
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
article h2 a,
article h2 a:hover {
  color: #525252;
  text-decoration: none;
}
article h2 a:before {
  content: "#";
  margin-left: -25px;
  position: absolute;
  font-size: 28px;
  top: 5px;
  color: #ff6860;
  opacity: .6;
}
article h3 {
  font-size: 24px;
  font-weight: 400;
}
article h4 {
  font-size: 16px;
  font-weight: 700;
}
article a {
  text-decoration: underline;
}
article a:hover {
  color: #f1362f;
}
article blockquote a:hover {
  color: #fcd8d6;
}
article table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
article table th,
article table td {
  border: 1px solid #dee0df;
  padding: 10px;
  text-align: left;
}
article table th {
  font-size: 16px;
}
.docs-wrapper {
  overflow: hidden;
}
@media (max-width: 1080px) {
  article {
    margin-left: 200px;
    padding: 15px 30px 30px;
  }
  article h2 a:before {
    margin-left: -20px;
  }
}
@media (max-width: 780px) {
  article {
    margin-left: 0px;
  }
  article h1 {
    margin-top: 0;
  }
}